.footer {
  background: #141416;

  &__body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: calc(88px * var(--ui-scale)) 0 calc(86px * var(--ui-scale));
    @media (max-width: 1300px) {
      padding: 60px 0;
    }
    @media (max-width: 768px) {
      padding: 52px 0 40px;
    }
  }
}


.logoFooter {
  width: 100%;
  grid-column: 1/4;
  grid-row: 1/2;

  padding-bottom: calc(25px * var(--ui-scale));
  border-bottom: calc(1px * var(--ui-scale)) solid rgba(129, 129, 129, 0.25);
  @media (min-width: 1300px) {
    gap: calc(10px * var(--ui-scale));
    padding-bottom: calc(21px * var(--ui-scale));

  }
  @media (max-width: 768px) {
    padding-bottom: 32px;
    border-bottom: none;
  }

  p {
    color: #fff;
    display: inline-block;
    font-size: calc(30px * var(--ui-scale));;
    @media (max-width: 1300px) {
      font-size: 22px;
    }
  }

  svg {
    path {
      fill: white;
    }
  }
}

.footerNav {
  grid-column: 4/13;
  grid-row: 1/2;

  border-bottom: calc(1px * var(--ui-scale)) solid rgba(129, 129, 129, 0.25);

  @media (max-width: 768px) {
    grid-column: 1/13;
    grid-row: 2/3;
    padding-bottom: 48px;
    border-bottom: 1px solid #818181;

  }
}

.list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  a {
    font-weight: 500;
    font-size: calc(17px * var(--ui-scale));;
    line-height: 150%;
    text-transform: capitalize;
    color: #b9b9b9;
    border-color: transparent;
    @media (max-width: 1300px) {
      font-size: 12px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}

.copy {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: calc(12px * var(--ui-scale));
  line-height: 147%;
  color: #999;

  grid-column: 1/6;
  grid-row: 2/3;

  padding-top: calc(61px * var(--ui-scale));

  span {
    display: none;

  }

  @media (max-width: 1300px) {
    padding-top: 40px;
  }

  @media (max-width: 768px) {
    grid-column: 1/13;
    grid-row: 3/4;
    text-align: center;
    padding-top: 26px;
    span {
      display: inline-block;
    }
  }
}

.socials {
  grid-column: 6/13;
  grid-row: 2/3;

  justify-self: end;

  padding-top: calc(56px * var(--ui-scale));

  a {
    padding: 0;
  }

  gap: calc(20px * var(--ui-scale));

  @media (max-width: 1300px) {
    padding-top: 40px;
  }
  @media (max-width: 768px) {
    gap: 10px;
    grid-row: 1/2;
    padding-top: 0;
    padding-bottom: 32px;


    svg {
      width: 17px;
      height: 17px;
    }
  }
  @media (min-width: 1920px) {
    a svg {
      width: calc(24px * var(--ui-scale));;
      height: calc(24px * var(--ui-scale));;
    }
  }
}