.header {
  background: #f9f9f9;
  position: sticky;
  top: 0;
  left: 0;
  border-radius: 0 0 calc(20px * var(--ui-scale)) calc(20px * var(--ui-scale));
  z-index: 10;


  &__body {
    display: flex;
    align-items: center;
    min-height: calc(88px * var(--ui-scale));
    padding: calc(5px * var(--ui-scale)) 0;
    column-gap: calc(66px * var(--ui-scale));
    @media (max-width: 768px) {
      border-bottom: 0.50px solid #cbcbcb;
      min-height: 111px;
    }
  }
}

.btn {
  margin-left: auto;
  @media (max-width: 768px) {
    display: none;

  }
}

.desktopNav {
  @media (max-width: 768px) {
    display: none;
  }
}