.wrapper {

}

.navBody {
  display: flex;
  justify-content: center;
  margin: calc(70px * var(--ui-scale)) auto 0;
  @media (max-width: 1300px) {
    margin-top: 50px;
  }

}

.nav {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 calc(32px * var(--ui-scale)) calc(26px * var(--ui-scale)) calc(-19px * var(--ui-scale)) rgba(15, 15, 15, 0.12);
  background: #fcfcfd;
  border-radius: calc(13px * var(--ui-scale));
  padding: calc(15px * var(--ui-scale));
  min-height: calc(48px * var(--ui-scale));
  text-align: center;
  min-width: calc(166px * var(--ui-scale));
  @media (max-width: 1300px) {
    min-width: 124px;
  }

  .prev, .next {
    display: grid;
    place-items: center;
    color: #000;
    svg{
      width: calc(14px * var(--ui-scale));
      height: calc(9px * var(--ui-scale));
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: #94a3b8;
      }
    }
  }

  span {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: calc(-3px * var(--ui-scale));
      top: 50%;
      transform: translateY(-50%);
      width: calc(2px * var(--ui-scale));
      height: calc(24px * var(--ui-scale));
      background: #e6e8ec;
      border-radius: calc(2px * var(--ui-scale));
    }
  }
}

.swiper {
  overflow: visible;
  height: 100%;

}

.slide {
  height: auto !important;
  display: flex;
  flex-direction: column;


}