.drawer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: calc(100dvh - 111px);
  background: #f9f9f9;
  z-index: 100;
  padding: 45px 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
  overflow-y: auto;
}

.burger {
  display: none;
  transition: all 0.3s ease;

  @media (max-width: 768px) {
    display: grid;
    place-items: center;
    z-index: 1000;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 4px;
    cursor: pointer;
    margin-left: auto;
  }
}

.btnButton {
  margin-top: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;
  text-transform: uppercase;
  padding: 5px 20px;
  min-height: 60px;
  width: 100%;
}