.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-outfit {
  font-family: var(--font-outfit), sans-serif;
}

.font-public-sans {
  font-family: var(--font-public-sans), sans-serif;
}
