@use "./reset.scss";
@use "fonts";
@use "./tokens/spacing";
@use "./tokens/typography";
@use "./tokens/scale";

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1 1 auto;
  }
}

.container {
  margin: 0 auto;
  max-width: 1246px;
  @media (max-width: 1920px) {
    padding: 0 97px;
  }
  @media (max-width: 1300px) {
    padding: 0 67px;
  }
  @media (max-width: 768px) {
    padding: 0 30px;
  }

  @media (min-width: 1920px) {
    max-width: 100%;
    padding: 0 30px;

  }
}

:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Outfit", sans-serif;
  --font3: "Public Sans", sans-serif;
}


body {
  font-family: var(--font-family), sans-serif;
  overflow-x: hidden;
  background: #f9f9f9;
  position: relative;
}