.weeklySection {
  background: #f1f1f1;
  padding: calc(70px * var(--ui-scale)) 0;
  @media (max-width: 1300px) {
    padding: 50px 0;
  }
}
.title{
  font-weight: 600;
  font-size: calc(46px * var(--ui-scale));
  line-height: 104%;
  text-align: center;
  color: #c5c5c5;
  margin-bottom: calc(70px * var(--ui-scale));
  @media (max-width: 1300px) {
    font-size: 32px;
    margin-bottom: 50px;
  }
  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 100%;
  }
}