.heroStats {
  display: flex;
  align-items: center;
  gap: calc(60px * var(--ui-scale));
  @media (max-width: 1200px) {
    gap: 40px;
  }
  @media (max-width: 768px) {
      display: none;

  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(10px * var(--ui-scale));
  @media (max-width: 1200px) {
    gap: 8px;
  }
}

.value {
  font-family: var(--font3);
  font-weight: 600;
  font-size: calc(36px * var(--ui-scale));
  line-height: 117%;
  text-align: center;
  color: #141416;
  @media (max-width: 1200px) {
    font-size: 26px;
    line-height: 115%;
  }
}

.label {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: calc(12px * var(--ui-scale));
  line-height: 133%;
  text-align: center;
  color: #848586;
  @media (max-width: 1200px) {
    font-size: 9px;
    line-height: 144%;
  }
}