.heroContent {
  display: flex;
  flex-direction: column;
  gap: calc(81px * var(--ui-scale));
  max-width: calc(567px * var(--ui-scale));
  @media (max-width: 1200px) {
    gap: 58px;
    max-width: 350px;
  }
  @media (max-width: 768px) {
    gap: 0;
    max-width: 100%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: calc(44px * var(--ui-scale));
    @media (max-width: 1200px) {
      gap: 36px;
    }
    @media (max-width: 768px) {
      gap: 41px;

    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: calc(28px * var(--ui-scale));
    @media (max-width: 1200px) {
      gap: 15px;
    }

  }

  &__h1 {
    font-weight: 600;
    font-size: calc(76px * var(--ui-scale));
    line-height: 111%;
    letter-spacing: -0.04em;
    text-transform: capitalize;
    color: #141416;
    position: relative;
    @media (max-width: 1200px) {
      font-size: 54px;
      line-height: 115%;
    }
    @media (max-width: 768px) {
      font-size: 48px;
      line-height: 113%;
      text-align: center;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: calc(1px * var(--ui-scale));
      background: rgba(32, 31, 31, 0.2);
      width: calc(195px * var(--ui-scale));
      @media (max-width: 1300px) {
        width: 138px;
      }
      @media (max-width: 768px) {
        display: none;
      }
    }


  }

  &__desc {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: calc(18px * var(--ui-scale));
    line-height: 156%;
    color: #676767;

    span {
      font-weight: 600;
      color: #141416;
    }

    @media (max-width: 1200px) {
      font-size: 13px;
      line-height: 138%;
    }
    @media (max-width: 768px) {
      font-size: 11px;
      line-height: 161%;
      text-align: center;
    }

  }

  &__btns {
    display: flex;
    align-items: center;
    gap: calc(22px * var(--ui-scale));
    @media (max-width: 768px) {
      justify-content: center;
      gap: 17px;
    }
  }

  &__btn {
    min-height: calc(60px * var(--ui-scale));
    @media (max-width: 1200px) {
      min-height: calc(42px * var(--ui-scale));
    }
  }
}

.mobileText {
  display: none;
  font-weight: 600;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.1em;
  color: #201f1f;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;

  &::before {
    content: '';
    width: 33px;
    height: 1px;
    background-color: #201f1f;
  }

  @media (max-width: 768px) {
    display: inline-flex;
  }
}