.heroSection {
  &__inner {
    display: grid;
    padding: calc(109px * var(--ui-scale)) 0 calc(170px * var(--ui-scale));
    gap: calc(16px * var(--ui-scale));
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);

    }
    @media (max-width: 768px) {
        grid-auto-flow: row;
      grid-auto-rows: min-content;
      padding-top: 73px;
      gap: 105px;
    }
  }

}